<div class="row header" >
    <div class="col-3  head" ></div>
    
    
    <div class="col-6 head-middle">
      <div>
        <a [routerLink]="['login']">
      <img class="logo"src="assets/instagram.png"></a>
    </div>
    <div class="center">
    <div class="search-box">
      <i class="fa fa-search search-icon"></i>
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="right-element">
      <a [routerLink]="['']">
      <i class="fa fa-home icon "  ></i></a>
      <a [routerLink]="['message']">
      <i class="fa fa-send icon " ></i></a>
      <i class="fa fa-compass icon" ></i>
      <i class="fa fa-heart-o icon" ></i>
      <div >
        <img class="profile-icon"src="assets/cr7.jpg" >
      </div>
    </div>
    </div>
    </div>
    
    <div class="col-3 head"></div>
    </div> 
