<div class="row header" >
    <div class="col-3  head" ></div>
    <div class="col-6 head " >
        <div class="row">
            <div class="col-8" >
                <div class="rooms" > 
                 
                 
                 
                    <div *ngFor= "let obj of onlinefriends">
                        <div class="card"  >
                            <img  class="photo"[src]="obj.friend"  >        
                            <div class="card-body">
                              <p class="card-text" >{{obj.name}}</p>
                            </div>
                          </div>
                    </div>
                    
                </div> 
                <div *ngFor = "let obj of post"> 
                    <div *ngIf="obj.type===1">
                    <div class="imagevideos">
                    <div class="imagevideostop">
                      
                      <div style="display: flex;"><img class="createapost"[src]="obj.image" alt="profileimg"> 
                        <div class="top-right">
                          <div> {{obj.name}}</div>
                               <div style="font-size: 12px;"> {{obj.location}}</div>
                          </div>  
                      </div>
                        
                    <div class="set-icon" style="float : right; ">
                        <i class="fa fa-ellipsis-h"  ></i>
                    </div>
                       
                    </div>                  
                    <video class="image-video" controls>
                        <source [src]="obj.video" alt="timeline videos"/>
                    </video>
                  
                    <div class="imagevideosbottom">
                      <div class="likecomment" >
                        <div style="justify-content: space-between;display: flex;">
                            <div>
                                <i class="fa fa-heart-o  icon"></i>
                                <i class="fa fa-comment-o icon"></i>
                                <i class="fa fa-send-o fa icon"></i>
                            </div>
                            <div>
                                <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path>
                                </svg>
                            </div>        
                        </div>
                        <div>
                            <span class="time">{{obj.time}}</span>
                        </div>
                        <hr class="line">
                        <div><input class="no-outline " type="text" placeholder="Add a Comment" style=" border:transparent; font-size: 13px;width: 100%; "></div>
                        
                        
                    </div>
                     
                    </div>
                    <div></div>
                    </div>
                    </div>
                    <div *ngIf="obj.type===2">
                        <div class="imagevideos">
                        <div class="imagevideostop">
                          <div style="display: flex;"><img class="createapost"[src]="obj.image" alt="profileimg"> 
                            <div class="top-right">
                              <div> {{obj.name}}</div>
                                   <div style="font-size: 12px;"> {{obj.location}}</div>
                              </div>  
                          </div>
                            
                        <div class="set-icon" style="float : right; ">
                            <i class="fa fa-ellipsis-h"  ></i>
                        </div>
                           
                        </div>                  
                        <video class="image-video" controls>
                            <source [src]="obj.video" alt="timeline videos"/>
                        </video>
                      
                        <div class="imagevideosbottom">
                          <div class="likecomment" >
                            <div style="justify-content: space-between;display: flex;">
                                <div>
                                    <i class="fa fa-heart-o  icon"></i>
                                    <i class="fa fa-comment-o icon"></i>
                                    <i class="fa fa-send-o fa icon"></i>
                                </div>
                                <div>
                                    <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path>
                                    </svg>
                                </div>        
                            </div>
                            <div>
                                <span class="time">{{obj.time}}</span>
                            </div>
                            <hr class="line">
                            <div><input class="no-outline " type="text" placeholder="Add a Comment" style=" border:transparent; font-size: 13px;width: 100%; "></div>
                            
                            
                        </div>
                         
                        </div>
                        <div></div>
                        </div>
                        </div>
                </div>    
            </div>
            <div class="col-4">
                <div class= "profile">
                    <img class="profilepic"[src]="profileobj.Myimage" alt="profileimg"> 
                    <div class="profilepicright">
                        <div class="username">{{profileobj.username}}</div>
                        <div class="name"style="font-size: 12px;">{{profileobj.Name}}</div>  
                    </div>        
                </div>  
                <div class="suggestions">
                    <div class="foryou">Suggestions For You</div>
                    <div class="seeall">See All</div>
                </div>
                <div *ngFor="let obj of follow">
                <div class="suggestions">
                    <div class="rightcontent"><img class="rightcolpic" [src]="obj.image" alt="profileimg"> 
                      <div class="top-right">
                        <div class="rightname">{{obj.friendname}}</div>
                        <div class="followedby">{{obj.followedby}}</div>
                    </div>         
                      </div>
                    <div class="follow">Follow </div>
                </div>
                </div> 
                <div class="footer" >
                    <div class="footertext">
                      <div><a class="text" href="/privacy/explanation" >Privacy</a>
                        <span> · </span>
                      </div>
                      <div><a class="text" href="/privacy/explanation" >Terms</a>
                        <span> · </span>
                      </div>
                      <div><a class="text" href="/privacy/explanation" >Advertisement</a>
                        <span> · </span>
                      </div>
                      <div><a class="text" href="/privacy/explanation" >Ad choices</a>
                        <span> · </span>
                      </div>
                      <div><a class="text" href="/privacy/explanation"  >Cookies</a>
                        <span> · </span>
                      </div> 
                    </div>
                    <div class="footertext"><div><a class="text" href="/privacy/explanation">More</a>
                      <span> · </span>
                    </div>
                      <span class="text">Facebook @ 2020</span>
                    </div>
                  </div>
                 
            </div>
        </div>
    </div>
    <div class="col-3  head" ></div>
</div>


 