.box{
    width: 350px;
   // height:380px ;
   margin: 0 auto;
   margin-top: 175px;
    border-style: solid;
    border-color: rgb(218, 213, 213);
    border-width: thin;
    //position: absolute;
   // top: 150px;
   // left: 350px;
}
.insidebox{
    width: 270px;
    margin: 0 auto;
}
.logo
{
    height: 65px;
    width: 150px;
    margin-left: 56px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.fbtext
{
    margin-left: 57px;
}
.loginfb
{
    margin-bottom: 17px;
}
.frgt
{
    margin-left: 60px;
}
.forgottxt
{
    margin-bottom: 20px;
}
.box1{
    width: 350px;
    border-style: solid;
    border-color: rgb(218, 213, 213);
    border-width: thin;
    margin: 0 auto;
    margin-top: 15px;
   // position: absolute;
}
.text
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}
