<div class="container-fluid">
<div class="row header" >
    <div class="col-3  head"  ></div>
    <div class="col-6 message-box ">
        <div class="row inn ">
         <div class="col-4 direct">
             <div class="dirhead">
            <span class="headertext">Direct</span><i class="fa fa-pencil-square-o icon"></i>
             </div>
            <hr class="line">
            <div style="max-height: 600px;overflow: auto;">
            <div *ngFor="let obj of send">
            <div class= "profile">
                <img class="profilepic"[src]="obj.image" alt="profileimg"> 
                <div class="profilepicright">
                    <div class="username">{{obj.username}}</div>
                    <div class="name"style="font-size: 12px;">{{obj.status}}</div>  
                </div>
         </div>
        </div></div>
        </div>
         <div class="col-8 message">
            <div class="friendhead">
                <div>
                    <div class= "friendprofile">
                        <img class="friendmessagepic" src="assets/messi.jpg" alt="profileimg"> 
                        <div class="profilepicright">
                            <div class="username">Gowtham</div>
                            <div class="name"style="font-size: 12px;">online</div>  
                        </div>
                 </div>
                </div><i class="fa fa-exclamation-circle exicon" aria-hidden="true"></i>
                 </div><div class="borderline"></div>
                <div >
                    <div style="max-height: 540px;overflow: auto;">
                        <div *ngFor = "let obj of message">
                            <div *ngIf ="obj.type==1">
                                <div class= "messagefriendprofile">
                                    <img class="friendinsideimagepic" [src]="obj.friendimg" alt="profileimg">
                                    <div class="oval">{{obj.friendmessage}} </div>
                                </div>
                            </div>
                            <div *ngIf ="obj.type==2">
                                <div class= "messagemyprofile">
                                    <div class="myoval">{{obj.mymessage}}
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    

                </div>
                <div class="box">
                <input type="text" class="form-control"  placeholder="Message...">
                
                <button type="button" class="btn btn-link" style="position: absolute; top: 91%; left: 88%;"><i class="fa fa-heart-o "></i> </button>
                <button type="button" class="btn btn-link" style="position: absolute; top: 91%; left: 82%;"> <i class="fa fa-image "></i></button>
                </div>
            </div>
            </div>
        </div>
    <div class="col-3 head" > 
       </div>

</div>
</div>